
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 10%;
  padding: 20px 15px 20px 15px;
  height: 550px;
  border-radius: 6px;
}

/* Main column */
.main {
  flex: 66%;
  background-color: transparent;
  padding: 20px 15px 20px 15px;
}

.left-side{
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  width: 99%
}

.left-side h2{
  margin-left: 10px;
}
/* Fake image, just for this example */
.yearButton {
  height: 300px;
}
.width100pr{
  width: 100%;
}

.launchButton div, .yearButton div {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.launchButton div, .yearButton div:nth-child(odd){
  margin-right: 35px;
}

.launchButton .buttonBackground,.yearButton .buttonBackground{
  background: #cbe79f;
}
.launchButton .activeButtonBackgroud,.yearButton .activeButtonBackgroud{
  background:#7fbf01;
} 

.launchButton .mr-0{
  margin-right: 0px;
}

.alignCenter{
  text-align: center;
}

.displayCenter{
  margin:auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .row, .navbar {   
    flex-direction: row;
  }
  .side{
    flex: 16%;
  }
  .main{
    flex: 55%;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .yearButton{
    width: 32%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 15px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  
  .yearButton{
    width: 36%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 15px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  
  .yearButton{
    width: 45%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 10px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }

}
@media screen and (max-width: 380px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }

  .yearButton{
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 10px;
  }
  .launchButton .mr-0{
    margin-right: 0px;
  }

}