<div class="row">
    <div class="side">
        <div class="left-side">
            <h2>Filters</h2>
            <div class="alignCenter">
                <h5>Launch Year:</h5>
                <div class="yearButton width100pr">
                    <div *ngIf="launchYears && launchYears.length > 0; then yearBlock else yearElseBlock"></div>
                    <ng-template #yearBlock>
                        <div [ngClass]="launch_year === year ? 'activeButtonBackgroud': 'buttonBackground'" *ngFor="let year of launchYears" (click)="selectYear($event,year)">
                            {{year}}
                        </div>
                    </ng-template>

                    <ng-template #yearElseBlock>
                        <app-card-loader Cheight="50" Cwidth="100"></app-card-loader>
                    </ng-template>
                </div>
                <h5>Successful Launch:</h5>
                <div class="launchButton width100pr">
                    <div  [ngClass]="successLaunchStatus === 1 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLaunch($event, 1)">True</div>
                    <div class="mr-0"  [ngClass]="successLaunchStatus === 0 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLaunch($event, 0)">False</div>
                </div>
                <h5>Successful Landing:</h5>
                <div class="launchButton width100pr">
                    <div  [ngClass]="successLandingStatus === 1 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLanding($event, 1)">True</div>
                    <div class="mr-0" [ngClass]="successLandingStatus === 0 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLanding($event, 0)">False</div>
                </div>
            </div>
        </div>
    </div>

    <div class="main" [ngClass]="{'displayCenter' : !(spaceAllData.length > 0)}">
        <div *ngIf="spaceAllData && spaceAllData.length > 0; then cardBlock else cardElseBlock"></div>
        <ng-template #cardBlock>
            <app-card-box [spaceAllData]="spaceAllData" [loaded]="loaded"></app-card-box>
        </ng-template>
        <ng-template #cardElseBlock>
            <div>
                <app-card-loader Cheight="50" Cwidth="100"></app-card-loader>
                No Data Available
            </div>
        </ng-template>
    </div>
</div>
