/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 10%;
  padding: 20px;
  height: 550px;
  border-radius: 6px;
}

/* Main column */
.main {
  flex: 64%;
  background-color: transparent;
  padding: 20px;
}

.left-side{
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
}

.left-side h2{
  margin-left: 10px;
}
/* Fake image, just for this example */
.yearButton {
  height: 300px;
}
.width100pr{
  width: 100%;
}

.launchButton div, .yearButton div {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.launchButton div, .yearButton div:nth-child(odd){
  margin-right: 50px;
}

.launchButton .buttonBackground,.yearButton .buttonBackground{
  background: #cbe79f;
}
.launchButton .activeButtonBackgroud,.yearButton .activeButtonBackgroud{
  background:#7fbf01;
} 

.alignCenter{
  text-align: center;
}

.card {
    transition: 0.3s;
    width: 23%;
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    margin: 0px 18px 18px 0px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
 width: 80%;
 margin: 0px auto;
}
  
.container {
padding: 2px 16px;
}
@media screen and (max-width: 1024px) {
  .row, .navbar {   
    flex-direction: row;
  }
  .side{
    flex: 10%;
  }
  .main{
    flex: 55%;
  }
  .card{
    width: 50%;
    display: inline-block;
  }
}
@media screen and (max-width: 991px) {
  .row, .navbar {   
    flex-direction: row;
  }
  .side{
    flex: 10%;
  }
  .main{
    flex: 55%;
  }
  .card{
    width: 50%;
    display: inline-block;
  }
  .yearButton div:nth-child(odd){
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .yearButton{
    width: 50%;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 0px;
  }
}