/* .container{
  width: 100%;
  margin: 0 auto;
} */

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 10%;
  padding: 20px 15px 20px 15px;
  height: 550px;
  border-radius: 6px;
}

/* Main column */
.main {
  flex: 66%;
  background-color: transparent;
  padding: 20px 15px 20px 15px;
}

.left-side{
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
}

.left-side h2{
  margin-left: 10px;
}
/* Fake image, just for this example */
.yearButton {
  height: 300px;
}
.width100pr{
  width: 100%;
}

.launchButton div, .yearButton div {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.launchButton div, .yearButton div:nth-child(odd){
  margin-right: 35px;
}

.launchButton .buttonBackground,.yearButton .buttonBackground{
  background: #cbe79f;
}
.launchButton .activeButtonBackgroud,.yearButton .activeButtonBackgroud{
  background:#7fbf01;
} 

.launchButton .mr-0{
  margin-right: 0px;
}

.alignCenter{
  text-align: center;
}

.card {
    transition: 0.3s;
    width: 23%;
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    margin: 0px 15px 15px 0px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
  width: 80%;
  margin: 12px auto;
  align-items: center;
  display: flex;
  padding: 0px 5px 0px 5px;
  background: #f1f1f1;
  height: 170px;
}
  
.container {
padding: 2px 16px;
}
/* .imgCustom{
  align-items: center;
  display: flex;
  height: 75px;
  width: 75px;
} */

.text-primary {
  color: #007bff!important;
}

div ul{
  padding-inline-start: 20px;
}

.displayBlck{
  display: block;
}

.displayBlck .m-5{
  margin: 5px;
}

.inlineBlck{
  display: inline-block;
}

.displayCenter{
  margin:auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .row, .navbar {   
    flex-direction: row;
  }
  .side{
    flex: 16%;
  }
  .main{
    flex: 55%;
  }
  .card{
    width: 46%;
    display: inline-block;
  }

  .card img{
    height: 200px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .yearButton{
    width: 32%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 15px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }

  .card img{
    height: 200px;
  }
   .container{
    padding: 2px 60px;
  }
}

@media screen and (max-width: 600px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .yearButton{
    width: 36%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 15px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }

  .card img{
    height: 200px;
  }
  .container{
    padding: 2px 50px;
  }
}

@media screen and (max-width: 480px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .yearButton{
    width: 45%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 10px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }

  .card img{
    height: 200px;
  }
  .container{
    padding: 2px 40px;
  }
}
@media screen and (max-width: 380px) {
  body{
    margin: 0px 20px;
  }
  
  .row, .navbar {   
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .yearButton{
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .yearButton div:nth-child(odd){
    float: left;
    margin-right: 0px;
  }
  .yearButton div:nth-child(even){
    float: right;
    margin-right: 10px;
  }

  .launchButton .mr-0{
    margin-right: 0px;
  }

  .card img{
    height: 200px;
  }
  .container{
    padding: 2px 30px;
  }
}