<div class="row">
    <div class="side">
        <div class="left-side">
            <h2>Filters</h2>
            <div class="alignCenter">
                <h5>Launch Year:</h5>
                <div class="yearButton width100pr">
                    <div [ngClass]="launch_year === year ? 'activeButtonBackgroud': 'buttonBackground'" *ngFor="let year of launchYears">
                        <span (click)="selectYear($event,year)">{{year}}</span>
                    </div>
                </div>
                <h5>Successful Launch:</h5>
                <div class="launchButton width100pr">
                    <div  [ngClass]="successLaunchStatus === 1 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLaunch($event, 1)">True</div>
                    <div class="mr-0"  [ngClass]="successLaunchStatus === 0 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLaunch($event, 0)">False</div>
                </div>
                <h5>Successful Landing:</h5>
                <div class="launchButton width100pr">
                    <div  [ngClass]="successLandingStatus === 1 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLanding($event, 1)">True</div>
                    <div class="mr-0" [ngClass]="successLandingStatus === 0 ? 'activeButtonBackgroud': 'buttonBackground'" (click)="selectSuccessLanding($event, 0)">False</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main" [ngClass]="{'displayCenter' : !(spaceAllData.length > 0)}">
        <div *ngIf="spaceAllData && spaceAllData.length > 0; then cardBlock else cardElseBlock"></div>
        <ng-template #cardBlock>
            <div class="card" *ngFor="let data of spaceAllData">
                <img src="{{data.links.mission_patch_small}}" alt="spaceX">
                <div class="container">
                    <h4><b><span class="text-primary">{{data.mission_name}}</span> #{{data.flight_number}}</b></h4> 
                    <h5>Mission Ids:</h5>
                    <div *ngIf="data.mission_id && data.mission_id.length>0; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <ul>
                            <li class="text-primary" *ngFor="let id of data.mission_id">{{id}}</li>
                        </ul>
                    </ng-template>
                    <ng-template #elseBlock>
                        <p class="text-primary">No Ids</p>
                    </ng-template>
                   
                    <div class="displayBlck">
                        <h5 class="inlineBlck m-5">Launch Years:</h5>
                        <p class="text-primary inlineBlck m-5">{{data.launch_year}}</p>
                    </div>
                    <div class="displayBlck">
                        <h5 class="inlineBlck m-5">Successful Launch:</h5>
                        <p class="text-primary inlineBlck m-5">{{data.launch_success}}</p>
                    </div>
                    <div class="displayBlck" *ngIf="successLanding != undefined">
                        <h5 class="inlineBlck m-5">Successful Landing:</h5>
                        <p class="text-primary inlineBlck m-5">{{successLanding}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #cardElseBlock>
            <div>
                No Data Available
            </div>
        </ng-template>
    </div>
</div>
