<h1>Launch Year</h1>
<div *ngFor="let year of launchYears">
    <div class="card" (click)="selectYear($event,year)">{{year}}</div>
</div>

<h2>Successful Launch</h2>
<div>
    <button type="button" (click)="selectSuccessLaunch($event, 1)">True</button>
    <button type="button" (click)="selectSuccessLaunch($event, 0)">False</button>
</div>

<h2>Successful Landing</h2>
<div>
    <button type="button" (click)="selectSuccessLanding($event, 1)">True</button>
    <button type="button" (click)="selectSuccessLanding($event, 0)">False</button>
</div>

<div class="card" *ngFor="let data of spaceAllData">
    <img src="{{data.links.mission_patch_small}}" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>{{data.mission_name}} #{{data.flight_number}}</b></h4> 
      <h5>Mission Ids:</h5>
      <p>{{data.mission_id | json}}</p> 
      <h5>Launch Years:</h5>
      <p>{{data.launch_year}}</p> 
      <h5>Successful Launch:</h5>
      <p>{{data.launch_success}}</p> 
    </div>
</div>
